.todo__list{
    text-align: center;
    justify-content: center;
    /* display: block */
}

.todo__item{
    background-color: bisque;
    border-radius: 50px;
}

/* .todo__itemText{
    text-align: center;
} */